
<%=  bootstrap_form_for product do |f| %> 
 <!-- doesn't matter if it's (product) or @product  -->
 
  <!-- doesn't matter if it's @product  -->
  <div class="row">
    <div class = "col-xs-6">
    <%= f.text_field :name %>
    </div>
    <div class="col-xs-6">
    </div>
  </div>  
  <div class="row">
    <div class = "col-xs-6">
    <%= f.text_field :price, label: "Price eg. 143.34" %>
    </div>
    <div class="col-xs-6">
    </div>
  </div>
  <div class="row">
    <div class = "col-xs-12">
    <%= f.text_area :description, :rows => 5 %>
    </div>
  </div> 
  <div class="row">
    <div class = "col-xs-6">
    <%= f.number_field :stock %>
    </div>
    <div class="col-xs-6">
    </div>
  </div>


    <%= f.submit %>
 


<% end %>
</div>
</div>
