

<div class="container-fluid"><div>
<h1>Pick your Date</h1>
<h3> Lovely ladies to choose from everyday. Are you single and looking for LOVE? It's right in front of you. A click away. </h3>


<div class="row">
  <% @products.each_with_index do |product, index| %>
    <div class="col-sm-4 col-md-4">
      <div class="thumbnail">
        <span id="chicks-<%= index %>"></span>
        <div class="caption">
          <h3><%= product.name %></h3>
          <p><%= product.description.truncate(100) %></p>
          <%= number_to_currency product.price %> SGD/date <br>
          
          <%= pluralize(product.stock, "date") %> left
          <p>
          <% label, path, class_to_add = link_attributes(product) %>
            <%= link_to label, path, class: class_to_add %>
        </div>
      </div>
    </div>

<% end %>
</div>
</div>


<%= paginate(@products) %>
</div>