<p id="notice"><%= notice %></p>

<div class="container-fluid">
<h1>Pick your Date</h1>
<div class="row">
  <% @products.each_with_index do |product, index| %>
    <div class="col-sm-4 col-md-4">
      <div class="thumbnail">
        <span id="chicks-<%= index %>"></span>
        <div class="caption">
          <h3><%= product.name %></h3>
          <p><%= product.description.truncate(100) %></p>
          <%= product.price %> SGD/date <br>
          <%= product.stock %> dates left
          <p><a href="#" class="btn btn-primary" role="button">Pay</a> <a href="#" class="btn btn-default" role="button">Button</a></p>

        </div>
      </div>
    </div>
<% end %>
</div>
</div>






<%= link_to 'New Product', new_product_path %>
<%= paginate(@products) %>
