<p id="notice"><%= notice %></p>
<div class = "container-fluid">
<p>
<span id="chicks"></span>
</p>
<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency @product.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @product.stock %>

<%= render 'orders/form', order: @order %>
<br>
<%= link_to 'Book', products_path, class: "btn btn-primary" %> <br><br>

<%= link_to 'Edit', edit_product_path(@product), class: "btn btn-primary" %> |
<%= link_to 'Delete', product_path, method: :delete, data: { confirm: 'Are you sure?'}, class: "btn btn-danger" %> |
<%= link_to 'Back', products_path %>

