<p id="notice"><%= notice %></p>
<div class = "container-fluid">
<p>
<span id="chicks"></span>
</p>
<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency @product.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @product.stock %>

<br>

<%= form_for [@product, Order.new] do %>
<!-- product needs @ -->
<%= bootstrap_form_for [@product, @order] do |f| %>
<%= f.datetime_field :reservation, label: "Reservation eg. DD/MM/YY 19:30 PM"  %>

  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span></span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Pay to Play"
          data-amount= <%= @product.price*100 %>
          data-locale="auto"></script>
<% end %>
<% end %>
<br>

<!-- <%= link_to 'Edit', edit_product_path(@product), class: "btn btn-primary" %> |
<%= link_to 'Delete', product_path, method: :delete, data: { confirm: 'Are you sure?'}, class: "btn btn-danger" %> | -->
<%= link_to 'Back', products_path, class: "btn btn-default" %>  

