<p id="notice"><%= notice %></p>
<div class = "container-fluid">
<p>
<span id="chicks"></span>
</p>
<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency @product.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @product.stock %>

<br>
<!-- form_for path  
<form action="/submmiting_path"></form>
-->

  <!-- product needs @ --> 
  <%= bootstrap_form_for [@product, @order] do |f| %>
  <%= f.datetime_field :reservation%>

  <%= render 'payment' %>
  <% end %>

<br>

<!-- <%= link_to 'Edit', edit_product_path(@product), class: "btn btn-primary" %> |
<%= link_to 'Delete', product_path, method: :delete, data: { confirm: 'Are you sure?'}, class: "btn btn-danger" %> | -->
<%= link_to 'Back', products_path, class: "btn btn-default" %>  

